@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */

.text-shadow {
  text-shadow: 0 0 10px #FFFFFF, 0px 0px 10px #FFFFFF;
}

a, button, select, .btn {
  outline-color: #60A5FA;
  outline-offset: 2px;
}

input, textarea {
  outline-color: #60A5FA33;
  outline-width: medium;
  outline-offset: 2px;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border-color: #60A5FA;
}

.twitter-picker > div > span > div {
  box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.33) !important;
  border: 1px solid #e5e5e5;
  transition: all ease 0.2s;
}

.twitter-picker > div > span > div:hover {
  transform: scale(1.1);
}

/* Fade In Animation Preset */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Slide In Animation Preset */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Fade Out Animation Preset */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Slide Out Animation Preset */

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }
}
