@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */

.text-shadow {
  text-shadow: 0 0 10px #FFFFFF, 0px 0px 10px #FFFFFF;
}

a, button, input, textarea, select, .btn {
  outline-color: #60A5FA;
}


/* Fade In Animation Preset */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Slide In Animation Preset */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Fade Out Animation Preset */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Slide Out Animation Preset */

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }
}
