@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */

.brdg-border {
  border-width: 1.5px;
}

.text-shadow {
  text-shadow: 0 0 10px #FFFFFF, 0px 0px 10px #FFFFFF;
}

a,
button,
select,
.btn {
  outline-color: #60A5FA;
  outline-width: 1px;
  outline-offset: 1px;
}

input,
textarea {
  transition: box-shadow ease 0.2s;
}

input:focus,
textarea:focus {
  border: 1.5px solid #60A5FA;
  outline: none;
  box-shadow: rgba(96, 165, 250, 0.2) 0px 0px 0px 3px;
}

/* Safari specific styles */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .brdg-border {
    border-width: 1px;
    border-style: solid;
    -webkit-border-image:
      -webkit-linear-gradient(left, #60A5FA 0%, #60A5FA 50%, transparent 50%, transparent 100%) 0 0 0 1px stretch;
    border-image:
      -webkit-linear-gradient(left, #60A5FA 0%, #60A5FA 50%, transparent 50%, transparent 100%) 0 0 0 1px stretch;
  }

  a,
  button,
  select,
  .btn {
    outline-color: #60A5FA;
    outline-width: 1.5px;
    outline-offset: -1px;
  }

  input:focus,
  textarea:focus {
    border: 1px solid #60A5FA;
    outline: none;
    box-shadow: rgba(96, 165, 250, 0.2) 0px 0px 0px 3px;
  }
}

.animate-random-translate {
  animation: random-translate 5s infinite;
}

@keyframes random-translate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(12px, 20px) rotate(12deg);
  }

  50% {
    transform: translate(0, 0) rotate(0deg);
  }

  75% {
    transform: translate(-48px, -96px) rotate(-12deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.animate-random-translate-mirror {
  animation: random-translate-mirror 7s infinite;
}

@keyframes random-translate-mirror {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(-8px, 16px) rotate(-6deg);
  }

  50% {
    transform: translate(0, 0) rotate(0deg);
  }

  75% {
    transform: translate(40px, -128px) rotate(10deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

div.twitter-picker {
  background-color: #000 !important;
}

.twitter-picker>div {
  width: auto;
}

.twitter-picker>div>div>input {
  background-color: #000;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: #3f3f46 0px 0px 0px 1px inset !important;
  color: white !important;
  position: relative;
  left: -1px;
}

.twitter-picker>div>div {
  background: #3f3f46 !important;
  color: white !important;
}

.twitter-picker>div>span>div {
  box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.33) !important;
  transition: all ease 0.2s;
}

.twitter-picker>div>span>div:hover {
  box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.8) !important;
  opacity: 0.8;
}


/* Fade In Animation Preset */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Slide In Animation Preset */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Fade Out Animation Preset */

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Slide Out Animation Preset */

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }

  to {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }
}